/* resources/css/app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Clases personalizadas */
@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }
  .btn-green {
    @apply bg-green-600 text-white hover:bg-green-700;
  }
  .btn-red {
    @apply bg-red-600 text-white hover:bg-red-700;
  }
  .btn-gray {
    @apply bg-gray-300 text-gray-800 hover:bg-gray-400;
  }
  .input-field {
    @apply mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .card {
    @apply bg-white shadow overflow-hidden rounded-lg;
  }
  .card-header {
    @apply px-4 py-5 sm:px-6 bg-gray-50;
  }
  .card-body {
    @apply px-4 py-5 sm:p-6;
  }
}